.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin: 0 auto;
    width: 85%;
    max-width: 1440px;

    position: relative;
}

@media screen and (max-width: 450px){
    .container{
        width: 95%;
    }
}

.content {
    width: 100%;
    height: auto;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 27px;

    margin-top: 111px;
    margin-bottom: 50px;
}

.leftContent {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
}

@media screen and (max-width: 1000px){
    .content{
        flex-direction: column;
        row-gap: 16px;
        column-gap: inherit;
    }
}

@media screen and (max-width: 450px){
    .content{
        margin-top: 80px;
    }
}